


div{
  text-decoration: none;
  background-color:#FF2400;
  text-align: center;
}
.float{
  border:solid 1px;
}
.bi{
  border:solid 1px #FF2400;
}

.ki{
  margin-left: 80px; 
  margin-top: 30px;
  width:200px;
  height:90px;
  float:left;
}
.ko{
  margin-bottom: 10px;
  font-size:50px;
}
.you{
  
  width:5px;
}
.hi{
  font-size: 25px;
}
.center{
  text-align: center;
  text-decoration: none;
}
a{
  text-decoration: none;
  text-align: left;
}
.you{
  width:200px;
}

.me{
  margin-top: 10px;
  float: left;
  height: 31px;
  width:31px;
}

.tw{
  
  margin-bottom: 10px;
  float: left;
  height: 31px;
  width:31px;

}
 .facebook{
  float: left;
  height: 31px;
  width:31px;
 }
p {
  margin-right: 5px;
  float:right;
}